altgraph==0.17
macholib==1.14
modulegraph==0.18
numpy==1.22.0
Pillow==9.0.0
psutil==5.7.0
py2app==0.21
PyInstaller==3.6
pyobjc-core==6.2
pyobjc-framework-Cocoa==6.2
rumps==0.3.0
six==1.14.0
wxPython==4.1.0
